<%= erb :game_header %>

<div>
  <%= erb :player_1 %>
  <br><br>
  <form action='/play' method='post' class="align_center">
    <button class="button" id="attack_button" type='submit'>Attack <%= @game.non_active_player.name %>!</button>
  </form>
  <%= erb :player_2 %>
  <br>
</div>
<div class="align_center">
  <h3><i><%= @game.non_active_player.name %> attacked <%= @game.active_player.name %>!</i></h3>
</div>
