<%= erb :game_header %>

<div class="align_center">
  <table>
    <tbody>
      <tr>
        <h3><%= @name1 %></h3>
      </tr>
      <tr>
        <h3><i>You attacked <%= @name2 %>!</i></h3>
      </tr>
      <tr>
        <form action='/play' method='post'>
          <button type='submit'>Attack <%= @name2 %>!</button>
        </form>
      </tr>
    </tbody>
  </table>

  <%= erb :player_2 %>
</div>
