<%= erb :game_header %>

<div class="align_center">
  <table>
    <tbody>
      <tr>
        <h3><%= @game.player_1.name %></h3>
      </tr>
      <tr>
        <h3><i>You attacked <%= @game.player_2.name %>!</i></h3>
      </tr>
      <tr>
        <form action='/play' method='post'>
          <button type='submit'>Attack <%= @game.player_2.name %>!</button>
        </form>
      </tr>
    </tbody>
  </table>

  <%= erb :player_2 %>
</div>
