<div>
  <h1><%= @name1 %> vs <%= @name2 %></h1>
</div>

<div>
  <h3><%= @name2 %>'s HP: <%= @name2_hp %> / 100</h3>
</div>

 <div>
     <h3>You attacked <%= @name2 %>!</h3>
 </div>

<div>
  <form action='/play' method='post'>
    <button type='submit'>Attack <%= @name2 %>!</button>
  </form>
</div>
